In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [2]:
df = spark.read.csv('dataset/best places for retirement in usa.csv', header=True, inferSchema=True)

In [3]:
df.show()
print("Total data points:", df.count())

+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
|         STATE|OVERALL RANK|COST OF LIVING|CRIME|CULTURE|HEALTH CARE QUALITY|TAXES|WEATHER|WELL-BEING|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
|  South Dakota|           1|            19|   21|     10|                 12|    2|     38|         1|
|          Utah|           2|            25|   22|     15|                 10|    8|     32|         9|
|         Idaho|           3|            12|    4|     31|                  8|   20|     41|         8|
| New Hampshire|           4|            43|    1|      9|                  5|    7|     43|         7|
|       Florida|           5|            27|   33|     26|                 36|    4|      2|        12|
|       Montana|           6|            23|   26|      7|                 19|    6|     45|        10|
|North Carolina|           6|            12|   29|     40|                 30|   11|     12|        19|
|       Wyoming|           8|            28|    9|     16|                 22|    1|     46|        16|
|      Nebraska|           9|            17|   18|     25|                 12|   25|     29|        17|
|   Mississippi|          10|             1|   23|     48|                 26|   24|      5|        47|
|        Hawaii|          11|            48|   35|      3|                 17|   27|      1|         3|
| Massachusetts|          12|            46|   14|      2|                  3|   22|     34|        11|
|      Virginia|          13|            30|    4|     17|                 24|   31|     16|        18|
|      Michigan|          14|             4|   23|     27|                 32|   12|     40|        32|
|      Missouri|          15|             3|   41|     28|                 35|   16|     17|        39|
|          Iowa|          16|            11|   16|     18|                 12|   40|     33|        21|
|      Colorado|          17|            35|   28|     12|                 15|   18|     37|         6|
|         Texas|          17|            20|   36|     43|                 44|   13|      4|        13|
|      Delaware|          19|            32|   40|     24|                  6|   15|     18|        40|
|  North Dakota|          20|            29|   17|     14|                  8|   30|     49|         5|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
only showing top 20 rows

Total data points: 50

In [4]:
df1 = spark.read.csv('dataset/state abbreviation.csv', header=True, inferSchema=True)

In [5]:
df1.show()
print("Total data points:", df.count())

+-----------+------------+------+------------+
|      State|    Standard|Postal|Capital City|
+-----------+------------+------+------------+
|       null|Abbreviation|  null|        null|
|    Alabama|        Ala.|    AL|  Montgomery|
|     Alaska|      Alaska|    AK|      Juneau|
|    Arizona|       Ariz.|    AZ|     Phoenix|
|   Arkansas|        Ark.|    AR| Little Rock|
| California|      Calif.|    CA|  Sacramento|
|   Colorado|       Colo.|    CO|      Denver|
|Connecticut|       Conn.|    CT|    Hartford|
|   Delaware|        Del.|    DE|       Dover|
|    Florida|        Fla.|    FL| Tallahassee|
|    Georgia|         Ga.|    GA|     Atlanta|
|     Hawaii|      Hawaii|    HI|    Honolulu|
|      Idaho|       Idaho|    ID|       Boise|
|   Illinois|        Ill.|    IL| Springfield|
|    Indiana|        Ind.|    IN|Indianapolis|
|       Iowa|        Iowa|    IA|  Des Moines|
|     Kansas|       Kans.|    KS|      Topeka|
|   Kentucky|         Ky.|    KY|   Frankfort|
|  Louisiana|         La.|    LA| Baton Rouge|
|      Maine|       Maine|    ME|     Augusta|
+-----------+------------+------+------------+
only showing top 20 rows

Total data points: 50

In [6]:
df1.drop(df1.Postal).show()

+-----------+------------+------------+
|      State|    Standard|Capital City|
+-----------+------------+------------+
|       null|Abbreviation|        null|
|    Alabama|        Ala.|  Montgomery|
|     Alaska|      Alaska|      Juneau|
|    Arizona|       Ariz.|     Phoenix|
|   Arkansas|        Ark.| Little Rock|
| California|      Calif.|  Sacramento|
|   Colorado|       Colo.|      Denver|
|Connecticut|       Conn.|    Hartford|
|   Delaware|        Del.|       Dover|
|    Florida|        Fla.| Tallahassee|
|    Georgia|         Ga.|     Atlanta|
|     Hawaii|      Hawaii|    Honolulu|
|      Idaho|       Idaho|       Boise|
|   Illinois|        Ill.| Springfield|
|    Indiana|        Ind.|Indianapolis|
|       Iowa|        Iowa|  Des Moines|
|     Kansas|       Kans.|      Topeka|
|   Kentucky|         Ky.|   Frankfort|
|  Louisiana|         La.| Baton Rouge|
|      Maine|       Maine|     Augusta|
+-----------+------------+------------+
only showing top 20 rows

In [7]:
df1.drop('Capital City','Postal').show()

+-----------+------------+
|      State|    Standard|
+-----------+------------+
|       null|Abbreviation|
|    Alabama|        Ala.|
|     Alaska|      Alaska|
|    Arizona|       Ariz.|
|   Arkansas|        Ark.|
| California|      Calif.|
|   Colorado|       Colo.|
|Connecticut|       Conn.|
|   Delaware|        Del.|
|    Florida|        Fla.|
|    Georgia|         Ga.|
|     Hawaii|      Hawaii|
|      Idaho|       Idaho|
|   Illinois|        Ill.|
|    Indiana|        Ind.|
|       Iowa|        Iowa|
|     Kansas|       Kans.|
|   Kentucky|         Ky.|
|  Louisiana|         La.|
|      Maine|       Maine|
+-----------+------------+
only showing top 20 rows

In [8]:
df1.selectExpr("State as STATE","Standard as Abbreviation") .show()

+-----------+------------+
|      STATE|Abbreviation|
+-----------+------------+
|       null|Abbreviation|
|    Alabama|        Ala.|
|     Alaska|      Alaska|
|    Arizona|       Ariz.|
|   Arkansas|        Ark.|
| California|      Calif.|
|   Colorado|       Colo.|
|Connecticut|       Conn.|
|   Delaware|        Del.|
|    Florida|        Fla.|
|    Georgia|         Ga.|
|     Hawaii|      Hawaii|
|      Idaho|       Idaho|
|   Illinois|        Ill.|
|    Indiana|        Ind.|
|       Iowa|        Iowa|
|     Kansas|       Kans.|
|   Kentucky|         Ky.|
|  Louisiana|         La.|
|      Maine|       Maine|
+-----------+------------+
only showing top 20 rows

In [9]:
df2=df1.selectExpr("State as STATE","Standard as Abbreviation")

In [10]:
df2.show()

+-----------+------------+
|      STATE|Abbreviation|
+-----------+------------+
|       null|Abbreviation|
|    Alabama|        Ala.|
|     Alaska|      Alaska|
|    Arizona|       Ariz.|
|   Arkansas|        Ark.|
| California|      Calif.|
|   Colorado|       Colo.|
|Connecticut|       Conn.|
|   Delaware|        Del.|
|    Florida|        Fla.|
|    Georgia|         Ga.|
|     Hawaii|      Hawaii|
|      Idaho|       Idaho|
|   Illinois|        Ill.|
|    Indiana|        Ind.|
|       Iowa|        Iowa|
|     Kansas|       Kans.|
|   Kentucky|         Ky.|
|  Louisiana|         La.|
|      Maine|       Maine|
+-----------+------------+
only showing top 20 rows

In [11]:
df3=df2.dropna()

In [12]:
df3.show()

+-----------+------------+
|      STATE|Abbreviation|
+-----------+------------+
|    Alabama|        Ala.|
|     Alaska|      Alaska|
|    Arizona|       Ariz.|
|   Arkansas|        Ark.|
| California|      Calif.|
|   Colorado|       Colo.|
|Connecticut|       Conn.|
|   Delaware|        Del.|
|    Florida|        Fla.|
|    Georgia|         Ga.|
|     Hawaii|      Hawaii|
|      Idaho|       Idaho|
|   Illinois|        Ill.|
|    Indiana|        Ind.|
|       Iowa|        Iowa|
|     Kansas|       Kans.|
|   Kentucky|         Ky.|
|  Louisiana|         La.|
|      Maine|       Maine|
|   Maryland|         Md.|
+-----------+------------+
only showing top 20 rows

In [13]:
df.show()

+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
|         STATE|OVERALL RANK|COST OF LIVING|CRIME|CULTURE|HEALTH CARE QUALITY|TAXES|WEATHER|WELL-BEING|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
|  South Dakota|           1|            19|   21|     10|                 12|    2|     38|         1|
|          Utah|           2|            25|   22|     15|                 10|    8|     32|         9|
|         Idaho|           3|            12|    4|     31|                  8|   20|     41|         8|
| New Hampshire|           4|            43|    1|      9|                  5|    7|     43|         7|
|       Florida|           5|            27|   33|     26|                 36|    4|      2|        12|
|       Montana|           6|            23|   26|      7|                 19|    6|     45|        10|
|North Carolina|           6|            12|   29|     40|                 30|   11|     12|        19|
|       Wyoming|           8|            28|    9|     16|                 22|    1|     46|        16|
|      Nebraska|           9|            17|   18|     25|                 12|   25|     29|        17|
|   Mississippi|          10|             1|   23|     48|                 26|   24|      5|        47|
|        Hawaii|          11|            48|   35|      3|                 17|   27|      1|         3|
| Massachusetts|          12|            46|   14|      2|                  3|   22|     34|        11|
|      Virginia|          13|            30|    4|     17|                 24|   31|     16|        18|
|      Michigan|          14|             4|   23|     27|                 32|   12|     40|        32|
|      Missouri|          15|             3|   41|     28|                 35|   16|     17|        39|
|          Iowa|          16|            11|   16|     18|                 12|   40|     33|        21|
|      Colorado|          17|            35|   28|     12|                 15|   18|     37|         6|
|         Texas|          17|            20|   36|     43|                 44|   13|      4|        13|
|      Delaware|          19|            32|   40|     24|                  6|   15|     18|        40|
|  North Dakota|          20|            29|   17|     14|                  8|   30|     49|         5|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+
only showing top 20 rows

In [14]:
df3.show()

+-----------+------------+
|      STATE|Abbreviation|
+-----------+------------+
|    Alabama|        Ala.|
|     Alaska|      Alaska|
|    Arizona|       Ariz.|
|   Arkansas|        Ark.|
| California|      Calif.|
|   Colorado|       Colo.|
|Connecticut|       Conn.|
|   Delaware|        Del.|
|    Florida|        Fla.|
|    Georgia|         Ga.|
|     Hawaii|      Hawaii|
|      Idaho|       Idaho|
|   Illinois|        Ill.|
|    Indiana|        Ind.|
|       Iowa|        Iowa|
|     Kansas|       Kans.|
|   Kentucky|         Ky.|
|  Louisiana|         La.|
|      Maine|       Maine|
|   Maryland|         Md.|
+-----------+------------+
only showing top 20 rows

In [15]:
df_join = df.join(df3, df.STATE == df3.STATE, "inner")

In [16]:
df_join.show()

+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+--------------+------------+
|         STATE|OVERALL RANK|COST OF LIVING|CRIME|CULTURE|HEALTH CARE QUALITY|TAXES|WEATHER|WELL-BEING|         STATE|Abbreviation|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+--------------+------------+
|  South Dakota|           1|            19|   21|     10|                 12|    2|     38|         1|  South Dakota|        S.D.|
|          Utah|           2|            25|   22|     15|                 10|    8|     32|         9|          Utah|        Utah|
|         Idaho|           3|            12|    4|     31|                  8|   20|     41|         8|         Idaho|       Idaho|
| New Hampshire|           4|            43|    1|      9|                  5|    7|     43|         7| New Hampshire|        N.H.|
|       Florida|           5|            27|   33|     26|                 36|    4|      2|        12|       Florida|        Fla.|
|       Montana|           6|            23|   26|      7|                 19|    6|     45|        10|       Montana|       Mont.|
|North Carolina|           6|            12|   29|     40|                 30|   11|     12|        19|North Carolina|        N.C.|
|       Wyoming|           8|            28|    9|     16|                 22|    1|     46|        16|       Wyoming|        Wyo.|
|      Nebraska|           9|            17|   18|     25|                 12|   25|     29|        17|      Nebraska|       Nebr.|
|   Mississippi|          10|             1|   23|     48|                 26|   24|      5|        47|   Mississippi|       Miss.|
|        Hawaii|          11|            48|   35|      3|                 17|   27|      1|         3|        Hawaii|      Hawaii|
| Massachusetts|          12|            46|   14|      2|                  3|   22|     34|        11| Massachusetts|       Mass.|
|      Virginia|          13|            30|    4|     17|                 24|   31|     16|        18|      Virginia|         Va.|
|      Michigan|          14|             4|   23|     27|                 32|   12|     40|        32|      Michigan|       Mich.|
|      Missouri|          15|             3|   41|     28|                 35|   16|     17|        39|      Missouri|         Mo.|
|          Iowa|          16|            11|   16|     18|                 12|   40|     33|        21|          Iowa|        Iowa|
|      Colorado|          17|            35|   28|     12|                 15|   18|     37|         6|      Colorado|       Colo.|
|         Texas|          17|            20|   36|     43|                 44|   13|      4|        13|         Texas|        Tex.|
|      Delaware|          19|            32|   40|     24|                  6|   15|     18|        40|      Delaware|        Del.|
|  North Dakota|          20|            29|   17|     14|                  8|   30|     49|         5|  North Dakota|        N.D.|
+--------------+------------+--------------+-----+-------+-------------------+-----+-------+----------+--------------+------------+
only showing top 20 rows

In [17]:
df_cleaned=df_join.drop('STATE')

In [18]:
df_cleaned.show()

+------------+--------------+-----+-------+-------------------+-----+-------+----------+------------+
|OVERALL RANK|COST OF LIVING|CRIME|CULTURE|HEALTH CARE QUALITY|TAXES|WEATHER|WELL-BEING|Abbreviation|
+------------+--------------+-----+-------+-------------------+-----+-------+----------+------------+
|           1|            19|   21|     10|                 12|    2|     38|         1|        S.D.|
|           2|            25|   22|     15|                 10|    8|     32|         9|        Utah|
|           3|            12|    4|     31|                  8|   20|     41|         8|       Idaho|
|           4|            43|    1|      9|                  5|    7|     43|         7|        N.H.|
|           5|            27|   33|     26|                 36|    4|      2|        12|        Fla.|
|           6|            23|   26|      7|                 19|    6|     45|        10|       Mont.|
|           6|            12|   29|     40|                 30|   11|     12|        19|        N.C.|
|           8|            28|    9|     16|                 22|    1|     46|        16|        Wyo.|
|           9|            17|   18|     25|                 12|   25|     29|        17|       Nebr.|
|          10|             1|   23|     48|                 26|   24|      5|        47|       Miss.|
|          11|            48|   35|      3|                 17|   27|      1|         3|      Hawaii|
|          12|            46|   14|      2|                  3|   22|     34|        11|       Mass.|
|          13|            30|    4|     17|                 24|   31|     16|        18|         Va.|
|          14|             4|   23|     27|                 32|   12|     40|        32|       Mich.|
|          15|             3|   41|     28|                 35|   16|     17|        39|         Mo.|
|          16|            11|   16|     18|                 12|   40|     33|        21|        Iowa|
|          17|            35|   28|     12|                 15|   18|     37|         6|       Colo.|
|          17|            20|   36|     43|                 44|   13|      4|        13|        Tex.|
|          19|            32|   40|     24|                  6|   15|     18|        40|        Del.|
|          20|            29|   17|     14|                  8|   30|     49|         5|        N.D.|
+------------+--------------+-----+-------+-------------------+-----+-------+----------+------------+
only showing top 20 rows

In [19]:
from pyspark.ml.feature import VectorAssembler
vector_assembler = VectorAssembler(inputCols = ['COST OF LIVING', 'CRIME', 'CULTURE', 'HEALTH CARE QUALITY', 'TAXES', 'WEATHER', 'WELL-BEING'], outputCol = 'features')
vector_output = vector_assembler.transform(df_cleaned)
vector_output.printSchema()
vector_output.head(1)
label_features = vector_output.select("features", "OVERALL RANK").toDF('features','label')

root
 |-- OVERALL RANK: integer (nullable = true)
 |-- COST OF LIVING: integer (nullable = true)
 |-- CRIME: integer (nullable = true)
 |-- CULTURE: integer (nullable = true)
 |-- HEALTH CARE QUALITY: integer (nullable = true)
 |-- TAXES: integer (nullable = true)
 |-- WEATHER: integer (nullable = true)
 |-- WELL-BEING: integer (nullable = true)
 |-- Abbreviation: string (nullable = true)
 |-- features: vector (nullable = true)

In [20]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrModel = lr.fit(label_features)
print("Coefficients: %s" % str(lrModel.coefficients))
print("Intercept: %s" % str(lrModel.intercept))
df_cleaned_summary =lrModel.summary
print("RMSE: " + str(df_cleaned_summary.rootMeanSquaredError))
print("R2: " + str(df_cleaned_summary.r2))

Coefficients: [0.5377954783573055,0.31863042823930177,0.27042046264877695,0.39939032585469436,0.5863370813768883,0.41744286277886206,0.30592345607112087]
Intercept: -46.66317408656304
RMSE: 2.4938659687207387
R2: 0.9701680378456282

In [21]:
train_data,test_data = vector_output.randomSplit([0.7,0.3])

In [22]:
df.cache()
df.printSchema()

root
 |-- STATE: string (nullable = true)
 |-- OVERALL RANK: integer (nullable = true)
 |-- COST OF LIVING: integer (nullable = true)
 |-- CRIME: integer (nullable = true)
 |-- CULTURE: integer (nullable = true)
 |-- HEALTH CARE QUALITY: integer (nullable = true)
 |-- TAXES: integer (nullable = true)
 |-- WEATHER: integer (nullable = true)
 |-- WELL-BEING: integer (nullable = true)

In [23]:
df_iteration=df_cleaned.select('OVERALL RANK', 'COST OF LIVING')

In [24]:
df_iteration.show()

+------------+--------------+
|OVERALL RANK|COST OF LIVING|
+------------+--------------+
|           1|            19|
|           2|            25|
|           3|            12|
|           4|            43|
|           5|            27|
|           6|            23|
|           6|            12|
|           8|            28|
|           9|            17|
|          10|             1|
|          11|            48|
|          12|            46|
|          13|            30|
|          14|             4|
|          15|             3|
|          16|            11|
|          17|            35|
|          17|            20|
|          19|            32|
|          20|            29|
+------------+--------------+
only showing top 20 rows

In [25]:
from pyspark.ml.feature import VectorAssembler
vector_assembler = VectorAssembler(inputCols = ['COST OF LIVING'], outputCol = 'features')
vector_output = vector_assembler.transform(df_iteration)
vector_output.printSchema()
vector_output.head(1)
label_features = vector_output.select("features", "OVERALL RANK").toDF('features','label')

root
 |-- OVERALL RANK: integer (nullable = true)
 |-- COST OF LIVING: integer (nullable = true)
 |-- features: vector (nullable = true)

In [26]:
from pyspark.ml.regression import LinearRegression
lr1 = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrModel1 = lr.fit(label_features)
print("Coefficients: %s" % str(lrModel1.coefficients))
print("Intercept: %s" % str(lrModel1.intercept))

Coefficients: [0.1901319441911117]
Intercept: 20.57064861754576